<!--{% extends 'admin/index.html' %}-->
<!--{% block content  %}-->
<!--<h1>THỐNG KÊ SỐ LƯỢNG CÁC BÀI ĐĂNG</h1>-->
<!--<h2>Số lượng bài đăng: {{ post_stats }}</h2>-->
<!--<ul>-->
<!--  {% for p in post_stats %}-->
<!--  <li><strong>{{ p.id }} - {{ p.name }}</strong> có {{ p.c }} bài đăng</li>-->
<!--  {% endfor %}-->
<!--</ul>-->
<!--{% endblock %}-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>WELCOME</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>WELCOME {{name}} TO SOCIAL MEDIA</h1>-->
<!--    <h2>Số lượng bài đăng: {{ post_stats }}</h2>-->
<!--    <ul>-->
<!--      {% for p in post_stats %}-->
<!--      <li><strong>{{ p.id }} - {{ p.name }}</strong> có {{ p.c }} bài đăng</li>-->
<!--      {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->